.card-container {
    margin: 0 auto;
    margin-top: 70px;
}

.card-container-header, .card-container-footer {
    background-color: lavender;
    padding: 10px;   
}


.card-container-body {
    background-color: aliceblue;
}

.card-content {
    margin: 20px auto;
    width: 90%;
}

.card-content .card-header {
    background-color: aquamarine;
}
