.card-container {
    margin: 0 auto;
    margin-top: 70px;
}

.card-container-header, .card-container-footer {
    background-color: lavender;   
}

.card-container-body {
    background-color: aliceblue;
}

.card-content {
    margin: 0;
    width: 45%;
}

.card-content .card-header {
    background-color: aquamarine;
}